<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuandian.server.logic.mapper.FriendPoMapper">
  <resultMap id="BaseResultMap" type="com.yuandian.server.logic.model.entity.FriendPo">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <id column="fuid" jdbcType="BIGINT" property="fuid" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, fuid, group_id, c_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.yuandian.server.logic.model.entity.FriendPoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from friend
    where uid = #{uid,jdbcType=BIGINT}
      and fuid = #{fuid,jdbcType=BIGINT}
  </select>
  <select id="getFriends" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select  <include refid="Base_Column_List"/> from friend where  uid=#{uid} or fuid=#{uid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.yuandian.server.logic.model.entity.FriendPoKey">
    delete from friend
    where uid = #{uid,jdbcType=BIGINT}
      and fuid = #{fuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuandian.server.logic.model.entity.FriendPo">
    insert into friend (uid, fuid, group_id, 
      c_time)
    values (#{uid,jdbcType=BIGINT}, #{fuid,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
      #{cTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yuandian.server.logic.model.entity.FriendPo">
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="fuid != null">
        fuid,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="fuid != null">
        #{fuid,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuandian.server.logic.model.entity.FriendPo">
    update friend
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
      and fuid = #{fuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuandian.server.logic.model.entity.FriendPo">
    update friend
    set group_id = #{groupId,jdbcType=BIGINT},
      c_time = #{cTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
      and fuid = #{fuid,jdbcType=BIGINT}
  </update>

</mapper>