<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"><configuration>    <!-- 参数设置 -->    <settings>        <!-- 通过设置该参数可以将数据库cc_xx带下划线的参数默认映射到java属性中ccXx字段上 默认该属性为false -->        <setting name="mapUnderscoreToCamelCase" value="true"/>        <!-- 全局设置延迟加载 默认为false 如果不设置或者设置为false则全都正常加载-->        <setting name="aggressiveLazyLoading" value="true"/>        <!--全局的二级缓存的开关，默认就是开着的true。由于二级缓存是和命名空间绑定在一起的，            想要使用这个二级缓存功能只需要开启后在每个xml文件的根节点mapper标签内加入<cache/>即可 -->        <setting name="cacheEnabled" value="false"/>    </settings>    <typeAliases>        <typeAlias type="com.yuandian.server.logic.model.entity.ChatPo" alias="ChatPo"/>        <typeAlias type="com.yuandian.server.logic.model.entity.FriendPo" alias="FriendPo"/>    </typeAliases></configuration>